body {
    margin: 0;
}

/* ///////////////////
// 共通
//////////////////// */

.profile #profileLink, .works #works, .hobby #hobby, .contact #contact {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

/* ///////////////////
// navセクション
//////////////////// */

.nav {
    height: 70px;
}

.nav nav {
    height: 100%;
    padding: 20px 0;
    text-align: center;
    display: block;
}

nav a {
    text-decoration: none;
    padding: 20px 20px;
}

nav img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

nav a:hover {
    color: orange;
    cursor: pointer;
}

/* ///////////////////
// backimgセクション
//////////////////// */

.backimg img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ///////////////////
// Profileセクション
//////////////////// */

.profile .container {
    display: flex;
    justify-content: center;
}

.profile .list {
    padding-left: 200px;
    list-style: none;
}

.profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* ///////////////////
// worksセクション
//////////////////// */

.works .container {
    display: flex;
    justify-content: center;
}

.works .container section {
    padding: 50px;
}


.works p {
    text-align: center;
}

.works img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/* ///////////////////
// hobbyセクション
//////////////////// */

.hobby .container {
    display: flex;
    justify-content: center;
}

.hobby .container section {
    margin: 0 80px;
}

/* ///////////////////
// contactセクション
//////////////////// */
.contact_container {
    display: flex;
    justify-content: center;
}
.contact {
    background-color: #BBFFFF;
    width: 90%;
    margin-bottom: 100px;

}

.contact .container {
    padding-bottom: 40px;
}

.contact .inputform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input {
    width: 90%;
    height: 40px;
    margin: 20px 0;
    border: solid 1px;
    font-size: 25px;
}

.contact textarea {
    width: 90%;
    height: 100px;
    margin: 20px 0 50px;
    border: solid 1px;
    font-size: 25px;
}

.contact .btn {
    width: 150px;
    height: 50px;
    border-radius: 7%;
    background-color: #CCCCCC;
    text-align: center;
    line-height:50px;
    
}

.contact .btn:hover {
    cursor: pointer;
    background:#DDDDDD;
}

.contact .inputform input, .contact .inputform textarea {
    color: silver;
}

/* ///////////////////
// footerセクション
//////////////////// */

footer {
    padding: 32px 0;
    background: #CCCCCC;
    color: #555555;
    text-align: center;
}