body {
    margin: 0;
    background-color: #FFD887;
    color: #973030;
    
}

/* ///////////////////
// 共通
//////////////////// */

.profile h1, .works h1, .hobby #hobby, .contact #contact {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    color: ;
}

/* ///////////////////
// navセクション
//////////////////// */

.nav {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #806C44;
}

.nav nav {
    height: 100%;
    padding: 20px 0;
    text-align: left;
    display: block;
}

nav a {
    text-decoration: none;
    padding: 20px 20px;
    font-size:20px;
    color: #F2F2F2;
}


nav a:hover {
    color: orange;
    cursor: pointer;
}

/* ///////////////////
// backimgセクション
//////////////////// */

.backimg img{
    margin-top: 65px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ///////////////////
// Profileセクション
//////////////////// */

.profile {
    margin-bottom: 200px;
}
.profile .container {
    display: flex;
    justify-content: center;
}

.profile .list {
    padding-left: 200px;
    list-style: none;
}

.profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile li {
    font-weight: bold;
    font-size: 20px;
}

.profile ul {
    margin: 0 0 20px;
    font-weight: normal;
}

/* ///////////////////
// worksセクション
//////////////////// */
.work {
    margin-bottom: 200px;
}
.works .container {
    display: flex;
    justify-content: center;
}

.works .container section {
    padding: 50px;
}


.works p {
    text-align: center;
}

.works img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/* ///////////////////
// hobbyセクション
//////////////////// */

.hobby {
    margin-bottom: 200px;
}

.hobby .container {
    display: flex;
    justify-content: center;
}

.hobby .container section {
    margin: 0 80px;
}

/* ///////////////////
// contactセクション
//////////////////// */
.contact_container {
    display: flex;
    justify-content: center;
}
.contact {
    background-color: #BFA165;
    width: 90%;
    margin-bottom: 100px;

}

.contact .container {
    padding-bottom: 40px;
}

.contact .inputform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input {
    width: 90%;
    height: 40px;
    margin: 20px 0;
    border: solid 1px;
    font-size: 25px;
}

.contact textarea {
    width: 90%;
    height: 100px;
    margin: 20px 0 50px;
    border: solid 1px;
    font-size: 25px;
}


.contact .btn:hover {
    cursor: pointer;
    background:rgba(128, 108, 68, .5);
}

.contact .name, .contact .mail, .contact .message  {
    color: rgba(128, 108, 68, .5);
}

.contact .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 7%;
    background-color: #806C44;
    text-align: center;
    line-height:50px;
    font-weight: none;
    color: #FFD887;
    
}

/* ///////////////////
// footerセクション
//////////////////// */

footer {
    padding: 32px 0;
    background: #CCCCCC;
    color: #555555;
    text-align: center;
}