@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
/* font-family: 'Amatic SC', cursive; */

@import url('https://fonts.googleapis.com/css?family=Corben:700');
/* font-family: 'Corben', cursive; */

body {
    margin: 0;
    background-color: #FFD887;
    color: #973030;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

/* ///////////////////
// 共通
//////////////////// */

.profile h1, .works h1, .hobby h1, .contact h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Corben', cursive;
}

#profileLink, #works, #hobby, #contact {
    height: 40px;
}

/* ///////////////////
// navセクション
//////////////////// */

.nav {
    height: 65px;
    width: 100%;
    position: fixed;
    background-color: rgba(128, 108, 68, .8);
}

.nav nav {
    height: 100%;
    padding: 20px 0;
    text-align: left;
    display: block;
}

nav a {
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;
    color: #F2F2F2;
    font-family: 'Amatic SC', cursive;
}

nav a:hover {
    color: orange;
    cursor: pointer;
}

/* ///////////////////
// backimgセクション
//////////////////// */

.backimg img {
    margin-top: 65px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}
.backimg p {
    position: absolute;
    color: white;
    margin: 0;
    top:350px;
    left: 20px;
    font-size: 50px;
    font-family: 'Corben', cursive;
}

/* ///////////////////
// Profileセクション
//////////////////// */

.profile {
    margin-bottom: 100px;
}

.profile .container {
    display: flex;
    justify-content: center;
}

.profile .list {
    padding-left: 150px;
    list-style: none;
}

.profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 17%;
}

.profile .up {
    font-weight: bold;
    font-size: 20px;
}

.profile .down {
    padding: 0 0 15px 10px;
    font-size: 20px;
}

/* ///////////////////
// worksセクション
//////////////////// */

.work {
    margin-bottom: 100px;
}

.works .container {
    display: flex;
    justify-content: center;
}

.works .container section {
    padding: 50px;
}

.works p {
    text-align: center;
    font-weight: bold;

}

.works img {
    width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
}

/* ///////////////////
// hobbyセクション
//////////////////// */

.hobby {
    margin-bottom: 100px;
}

.hobby .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.hobby .container section {
    margin: 0 80px;
}

.hobby img {
    background-color: #BFA165;
    border-radius: 50%;
}

.hobby p {
    font-weight: bold;    
}

/* ///////////////////
// contactセクション
//////////////////// */

.contact {
    background-color: #BFA165;
    width: 90%;
    margin-bottom: 100px;
}

.contact_container {
    display: flex;
    justify-content: center;
}

.contact .container {
    padding-bottom: 40px;
}

.contact h1 {
    margin-top: 0px;
}
.contact .inputform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input {
    width: 90%;
    height: 40px;
    margin: 20px 0;
    border: solid 1px;
    font-size: 25px;
}

.contact textarea {
    width: 90%;
    height: 100px;
    margin: 20px 0 50px;
    border: solid 1px;
    font-size: 25px;
}

.contact .btn:hover {
    cursor: pointer;
    background: rgba(128, 108, 68, .5);
}

.contact .name, .contact .mail, .contact .message {
    color: rgba(128, 108, 68, .5);
}

.contact .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 7%;
    background-color: #806C44;
    text-align: center;
    line-height: 50px;
    font-weight: none;
    color: #FFD887;
}

/* ///////////////////
// footerセクション
//////////////////// */

footer {
    padding: 32px 0;
    background: #806C44;
    color: #FFD887;
    text-align: center;
}